.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap:20px;
    padding:10px;
}
.back-button{
    background-color: transparent;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
}
.error{
    font-size: 11px;
    color: red ;
    height: 5px;
    visibility: hidden;
}
.show-error{
    visibility:visible;
}
.signup-container {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.signup-page h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.signup-page label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.signup-page input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.signup-page input:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.signup-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #218838;
}

.login-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.login-text a {
    color: #28a745;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}
